<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KPP Test - L.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4977F55D1FA9804F0002878E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4977F5711FA980500002878E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4977F57C1FA980500002878E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
